.primary-color {
  color: rgb(var(--color-primary));
}

.hexagon {
  display: inline-block;
  position: relative;
  width: 10rem;
  height: 10rem; /* Height to width ratio for a perfect hexagon (sqrt(3)/2 * 100%) */
  box-sizing: border-box;

  &-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:2;
    clip-path: polygon(20% 0, 80% 0, 100% 50%, 80% 100%, 20% 100%, 0% 50%);
    -webkit-clip-path: polygon(
      20% 0,
      80% 0,
      100% 50%,
      80% 100%,
      20% 100%,
      0% 50%
    );

    background: rgb(var(--color-white)); /* Adjust the background color to match your site's background for a seamless look */
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      max-width: 100%;
      height: auto;      
    }
  }

  /* Optional: Adjust the size of the border */
  &::before {
    content: "";
    position: absolute;
    background-image: linear-gradient(
          to bottom right,
          rgba(var(--color-secondary), 0.25) 30%,
          rgba(var(--color-primary), 0.5) 60%,
          rgba(var(--color-accent), 1) 85%
        );
        top: -7px;
        bottom: -7px;
        left: -7px;
        right: -7px;
    z-index: 1;
    clip-path: polygon(20% 0, 80% 0, 100% 50%, 80% 100%, 20% 100%, 0% 50%);
    -webkit-clip-path: polygon(
      20% 0,
      80% 0,
      100% 50%,
      80% 100%,
      20% 100%,
      0% 50%
    );
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
}
